@import 'tailwindcss';

@theme inline {
  --font-heading: var(--font-nunito);
  --font-body: var(--font-nunito-sans);

  --color-neutral-900: #163a34;
  --color-neutral-800: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-100: #f6f5f1;
  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;
}
